openai
python-dotenv
rich
llama-index
transformers
bm25s
numpy
chromadb
langchain
Jinja2
seaborn
matplotlib
scikit-learn
torch --index-url https://download.pytorch.org/whl/cpu
tqdm
numpy
pandas
PyMuPDF
fitz
